@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --primary: #f15412;
  --success: #5fd068;
  --danger: #f24c4c;
  --info: #646fd4;
  --background: #f5f6fa;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

input {
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: #fff;
  border-radius: 0.4rem;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  outline-color: var(--primary);
}

.btn {
  cursor: pointer;
  padding: 1rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: var(--primary);
  color: white;
}

.btn-outline-primary {
  background-color: var(--white);
  color: var(--primary);
  border-color: var(--primary);
}

.btn-block {
  width: 100%;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}

a {
  text-decoration: none;
  display: inline-block;
}

.btn-danger {
  background-color: var(--danger);
  color: var(--white);
}

.bg-danger {
  background-color: var(--danger);
}

table {
  width: 100%;
}

th {
  background-color: var(--primary);
  color: var(--white);
}

th,
td {
  padding: 1rem;
}

.status-lingkaran {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}

.bg-success {
  background-color: var(--success);
}

.btn-info {
  background-color: var(--info);
  color: var(--white);
}
