@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --primary: #f15412;
  --success: #5fd068;
  --danger: #f24c4c;
  --secondary: #73777b;
  --info: #646fd4;
  --background: #f5f6fa;
  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

input,
select {
  display: inline-block;
  padding: 1rem;
  border: none;
  background-color: var(--white) !important;
  border-radius: 0.4rem;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  outline-color: var(--primary);
}

.input-block {
  width: 100%;
}

.btn {
  cursor: pointer;
  padding: 1rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.text-primary {
  color: var(--primary);
}

.btn-primary {
  background-color: var(--primary);
  color: white;
}

.btn-outline-primary {
  background-color: var(--white);
  color: var(--primary);
  border-color: var(--primary);
}

.btn-block {
  width: 100%;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}

a {
  text-decoration: none;
  display: inline-block;
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--white);
}

.text-secondary {
  color: var(--secondary);
}

.btn-danger {
  background-color: var(--danger);
  color: var(--white);
}

.bg-danger {
  background-color: var(--danger);
}

table {
  width: 100%;
  border-radius: 0.4rem;
  overflow: hidden;
}

thead {
  background-color: var(--primary);
  color: var(--white);
}

th,
td {
  padding: 1rem;
}

.status-circle {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}

.bg-success {
  background-color: var(--success);
}

.btn-info {
  background-color: var(--info);
  color: var(--white);
}

label {
  display: block;
  margin-bottom: 1rem;
}

select {
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
    no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
}

.permalink-overlay {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1010;
  display: block;
}

.d-none {
  display: none !important;
}
